/* =========================================
               Width & Height
========================================= */

@mixin widthHeight($width, $height) {
  width: $width;
  height: $height;
}

@mixin minWidthHeight($min-width, $min-height) {
  min-width: $min-width;
  min-height: $min-height;
}

@mixin maxWidthHeight($max-width, $max-height) {
  max-width: $max-width;
  max-height: $max-height;
}


/* =========================================
                 FlexBoxes
========================================= */

@mixin flexCenter($flex-direction) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flexAround($flex-direction) {
  @include flexCenter($flex-direction);
  justify-content: space-around;
}

@mixin flexBetween($flex-direction) {
  @include flexCenter($flex-direction);
  justify-content: space-between;
}

@mixin flexEvenly($flex-direction) {
  @include flexCenter($flex-direction);
  justify-content: space-evenly;
}

@mixin flexEnd($flex-direction) {
  @include flexCenter($flex-direction);
  justify-content: flex-end;
}

@mixin flexStart($flex-direction) {
  @include flexCenter($flex-direction);
  justify-content: flex-start;
}
