/* =========================================
              Font Variables
========================================= */
$title-font: 'Audiowide', cursive;


/* =========================================
             Color Variables
========================================= */
$primary: #403245;
$secondary: rgb(62, 159, 72);
$secondary-dark: rgb(73, 134, 80);
